* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(44, 36, 36, 0.3);
   
    padding: 30px 70px;
    z-index: 10;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 35px;
    font-size: 18px;
}

.hero {
    height: 100vh;
    width: 100%;
    background: url(./assets/car_a.jpeg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 70px;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.content {
    position: relative;
    z-index: 5;
    max-width: 2000px;
    display: flex;
    gap: 400px;
    margin-top: 300px;
}

.content h1 {
    font-size: 90px;
 
    line-height: 1;
    font-weight: 800;
}
.colorless{
    color: white;
}

.colortxt {
   color: #59bdd1;
}

.btn {
    margin-top: 30px;
    padding: 18px 40px;
    background: #59bdd1;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
  
    
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .btn .arrow {
    font-size: 30px;    
    transition: transform 0.3s ease;
  }
  
 
  .btn:hover .arrow {
    transform: translateX(6px);
  }

/* about */


.about-section {
    height: 100vh;
    width: 100%;
    background: url(./assets/car_b.jpg) 
                no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
  }
  
  .about-section::after {
    content: "";
    position: absolute;
    inset: 0;
   
  }
  
  .about-text {
    position: relative;
    z-index: 5;
    text-align: center;
    color: white;
    margin-top: 100px;
  }
  
  .about-text h1 {
    font-size: 80px;
    font-weight: bolder;
    margin-top: 50px;
  }
  
  .abt-para {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 400px;
    margin-bottom: 100px;
   
   
  }
  /* offer */

  .offer-section {
    padding: 80px 70px;
    margin-top: 130px;
 
}

.offer-section h1 {
    font-size: 60px;
    font-weight: 800;
    color: #36b9d6;
    margin-bottom: 60px;
}

.offer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.offers-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 80px;
    width: 55%;
    margin-top: 40px;
}

.offer-box h2 {
    font-size: 34px;
    font-weight: 800;
    color: #36b9d6;
}

.offer-box h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #36b9d6;
}

.offer-box p {
    margin-top: 8px;
    font-size: 17px;
    color: #36b9d6;
}

.offer-image {
    width: 50%;
}

.offer-image img {
    width: 100%;
    border-radius: 6px;
}
/* stories */

.stories-section {
    padding: 80px 70px;
    background-color: black;
}

.stories-section h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    color: #36b9d6;
    margin-bottom: 80px;
    margin-top: 100px;
}

.stories-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    gap: 50px;
    margin-bottom: 120px;
}

.story-box {
    width: 20%;
    padding: 10px;
}

.story-box h3 {
    font-size: 22px;
    font-weight: 700;
    color: #36b9d6;
    margin-bottom: 20px;
}

.story-box p {
    font-size: 18px;
    line-height: 1.6;
    color: #dcdcdc;
}
/* contact */
.contact-section {
    height: 100vh;
    width: 100%;
    background: url(./assets/car_d.jpg) no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  
  .contact-content {
    position: relative;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px 70px;
    color: white;
  }
  
  /* LEFT SIDE */
  .left-side {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .contact-logo {
    font-size: 50px;
    color: #4fd1d9;
    font-weight: 900;
    margin-bottom: 5px;
  }
  
  .contact-sub {
    color: #4fd1d9;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .contact-info {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .contact-info a {
    color: white;
    text-decoration: none;
  }
  
  .quick-menu {
    margin-top: 40px;
  }
  
  .quick-menu h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .quick-menu ul {
    list-style: none;
  }
  
  .quick-menu li {
    margin-bottom: 8px;
    font-size: 17px;
  }
  
  .bottom-links {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 40px;
  }
  
  /* RIGHT SIDE */
  .right-side {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .right-side h1 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 40px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }
  
  input,
  textarea {
    background-color: rgba(89, 189, 209, 0.85);
    border: none;
    border-radius: 40px;
    padding: 15px 25px;
    font-size: 18px;
    color: white;
    outline: none;
  }
  
  textarea {
    min-height: 100px;
    border-radius: 25px;
    resize: none;
  }
  
  button {
    align-self: flex-start;
    padding: 12px 35px;
    background-color: #59bdd1;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #42a8b8;
  }